@page "/BrasilApi"


<h1>Olá</h1>

<form>
    <div class="form-group">
        <label for="inputCep">Cep:</label>
        <input type="text" class="form-control shadow-none" id="inputCep" @bind="cep" placeholder="Digite so Brsil CEP">
    </div>
    <button type="button" class="btn btn-primary" @onclick="BuscarDadosBrasilCep">Consultar CEP</button>
</form>




@code {


    public HttpClient httpClient = new();

    public BrasilCep? BrasilCep { get; set; }

    public string? cep { get; set; }

    private async Task BuscarDadosBrasilCep( )
    {
        var url = $"https://brasilapi.com.br/api/cep/v1/{cep}";
        BrasilCep = await httpClient.GetFromJsonAsync<BrasilCep>(url);
    }

}

