@page "/BuscarCep"

@if (PagamentoDiario is null)
{
    <ExibirSpinner />
}
else
{
   
<EditForm Model="@PagamentoDiario" OnValidSubmit="AdicionaPagamento_Click">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="icones-Pagamento text-dark" style="font-size: 40px;">
            <InputRadioGroup Name="color" @bind-Value="PagamentoDiario.EPagamento">

                <label class="opcao-pagamento">
                    <i class="fa-brands fa-cc-visa"></i>
                    <InputRadio Name="color" class="text-black-50 centralizar-btn" Value="EPagamentoDto.visa" />
                </label>
                <label class="opcao-pagamento">
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <InputRadio Name="color" class="text-black-50 centralizar-btn" Value="EPagamentoDto.mastercard" />
                </label>
                <label class="opcao-pagamento">
                    <i class="fa-brands fa-cc-paypal"></i>
                    <InputRadio Name="color" class="text-black-50 centralizar-btn" Value="EPagamentoDto.paypal" />
                </label>
                <label class="opcao-pagamento">
                    <i class="fa-solid fa-barcode"></i>
                    <InputRadio Name="color" class="text-black-50 centralizar-btn" Value="EPagamentoDto.boleto" />
                </label>
            </InputRadioGroup>
    </div>

        <button type="submit" class="btn btn-danger btn-lg ms-2 mb-4" >
            Confirmar Pagamento
        </button>

</EditForm>



}

@code {

    private PagamentoDiarioDto? PagamentoDiario { get; set; } = new();
    private PagamentoDiarioDto? PagamentoDiario2 { get; set; } = new();


    public void AdicionaPagamento_Click( )
    {
        PagamentoDiario2 = PagamentoDiario;


    }

}




















@* <h1>Buscar Cep</h1>
<form>
    <div class="form-group">
        <label for="inputCep">CEP</label>
        <input type="text" class="form-control shadow-none" id="inputCep" @bind="cep" placeholder="Digite o CEP">
    </div>
    <button type="button" class="btn btn-primary mt-3" disabled="@EnableBtn" @onclick="BuscarDados">Consultar CEP</button>
</form>
    
<br />
<PreenchedoFormCep Cep="CepDigitado"></PreenchedoFormCep>


@code {

    public Cep? CepDigitado { get; set; }
    public string? cep { get; set; }


    public string? MensagemErro { get; set; }
    public HttpClient httpClient = new();

    public bool EnableBtn { get; set; }

    private async Task BuscarDados()
    {
        EnableBtn = true;
        var url = $"https://viacep.com.br/ws/{cep}/json/";
        CepDigitado = await httpClient.GetFromJsonAsync<Cep>(url);

        await Task.Delay(1500);
        EnableBtn = false;
    }
}
 *@

