<ConfirmDialog @ref="dialog" />


<span @onclick="() => DeletarProduto(produtoDto!)">
    <i class="fa-solid fa-trash icon-delete-Produto"></i>
</span>



@code{

    [Parameter]
    public ProdutoDto? produtoDto { get; set; }
    [Inject]
    public IProdutoService? ProdutoService { get; set; }

    public IEnumerable<ProdutoDto>? Produtos {get;set; }

    private ConfirmDialog? dialog;
    [Inject]
    public NavigationManager? navigationManager { get; set; }


    async Task DeletarProduto(ProdutoDto produtoDto)
    {
        var confirmation = await dialog!.ShowAsync(
           title: "Você tem certeza que quer deletar esse produtos?",
           message1: "Essa operação não pode ser desfeita.",
           message2: "Você deseja continuea?");

        if (confirmation)
        {
            await ProdutoService!.RemoverProduto(produtoDto.Id);

            navigationManager!.NavigateTo("/ ");
       
        }
        else
        {
            navigationManager!.NavigateTo($"/ProdutosPorCategoria/{produtoDto.CategoriaId}");
        }
    }

    protected async Task AtualizarListaProdutos()
    {
        Produtos = await ProdutoService!.ObterProdutos();
    }
}