@foreach (var produto in Produtos!)
{
    <div class="card" style="width: 18rem;">
        <a href="/ProdutosDetalhes/@produto.Id">
            <div class="card-body">
                <a href="/ProdutosDetalhes/@produto.Id">
                    <img src="@produto.FotoUrl" class="card-img-top" alt="Imagem do Produto">
                </a>
                <h5 class="card-title">@produto.Nome</h5>
                <p class="card-text">@produto.Descricao.</p>
                <a href="/ProdutosDetalhes/@produto.Id">
                    <h5 class="card-title mb-3">
                        @produto.Preco.ToString("c")
                    </h5>
                </a>
            </div>
        </a>
    </div>
}

@code {

    [Parameter]
    public IEnumerable<ProdutoDto>? Produtos { get; set; }

}


