.card {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    margin-block: 15px;
}

    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.3s ease-in-out;
    }

    .card img {
        transition: transform 0.5s ease-in-out;  
    }

    .card:hover img {
        transform: scale(1.07);
    }

.card-body {
    padding: 1rem; 
}

input[type="checkbox"] {
    display: none; /* Oculta a caixa de seleção padrão */
}

label {
    cursor: pointer; /* Altera o cursor para indicar que o elemento é clicável */
}

.icone-coracao {
    font-size: 60px; /* Define o tamanho do ícone */
    margin-left: 180px;
    margin-right: 150px;
}

/* Estilize o ícone para representar o checkbox desmarcado */
input[type="checkbox"] + label .icone-coracao:before {
    content: "\f08a"; /* Ícone vazio */
    color: #B197FC; /* Cor do ícone desmarcado */
}

/* Estilize o ícone para representar o checkbox marcado */
input[type="checkbox"]:checked + label .icone-coracao:before {
    content: "\f004"; /* Ícone de coração preenchido */
    color: red; /* Cor do ícone marcado */
}
