@page "/"

@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<CarouselSlides></CarouselSlides>

@if(@Produtos == null)
{
     <ExibirSpinner /> 
}

@if (Produtos != null && Produtos.Any())
{

    <div class="row">
        <ExibirProdutos Produtos="Produtos"></ExibirProdutos>
    </div>
}
@code {


    [Inject]
    private IProdutoHttpService? ProdutoServiceHttp { get; set; }

    private IEnumerable<ProdutoDto>? Produtos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Produtos = await ProdutoServiceHttp!.ObterProdutos();
    }
}

