@implements IDisposable
@inject ICarrinhoCompraService carrinhoCompraService

<a href="CarrinhoCompra" class="btn btn-dark" title="@carrinhoCompraItemContador Produtos no carrinho" style=" font-size: 30px;">
    <i class="fa-solid fa-cart-arrow-down position-relative"></i>&nbsp;Carrinho
    <span class="badge rounded-pill bg-white" 
    style="color: red; font-size: 20px">@carrinhoCompraItemContador</span>
</a>


@code {

    private int carrinhoCompraItemContador = 0;

    protected override void OnInitialized()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged += CarrinhoCompraChanged;
    }

    protected void CarrinhoCompraChanged(int totalQuantidade)
    {
        carrinhoCompraItemContador = totalQuantidade;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged -= CarrinhoCompraChanged;
    }
}