@inherits LayoutComponentBase
<div class="top-bar">

   
<div class="d-flex flex-column wrapper"> 
   
        <nav class="navbar navbar-expand-lg bg-body-tertiary br">
            <div class="container-fluid">

                <div class="nav-item px-3">
                    <a class="logo" href="">
                        <img src="/Imagens/Logo/LogoCafe.svg" class="imagem-Formatacao" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1 menu-Produtos">
                            <NavMenu />
                    </ul>
                    <div class="d-flex align-items-center ml-auto">
                        <ul class="navbar-nav">
                            <div class="menu-produtosFavoritos-Formatacao">
                                <ProdutoFavMenu> </ProdutoFavMenu>
                            </div>
                            <div class="menu-carrinho-Formatacao">
                                <CarrinhoMenu></CarrinhoMenu>
                            </div>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
   
    <main class="flex-fill">
        <div class="container">
            <!-- Conteúdo principal da página -->
            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>

    <footer class="border-top text-muted bg-light">
        <div class="container">
            <div class="row py-3">

                <div class="col-12 col-md-4 text-center">
                    &copy; 2024 - Loja Sonho de Café Ltda ME<br/>
                    Rua Sonho de Café, 123, Cafélandia/LSC <br />
                    CNPJ 11.111.111/0001-11
                </div>
                <div class="col-12 col-md-4 text-center">
                    <a class="text-decoration-none text-dark">
                        Política de Privacidade
                    </a><br>
                    <a  class="text-decoration-none text-dark">
                        Termos de Uso
                    </a><br>
                    <a  class="text-decoration-none text-dark">
                        Quem Somos
                    </a><br>
                    <a  class="text-decoration-none text-dark">
                        Trocas e Devoluções
                    </a>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <a  class="text-decoration-none text-dark">
                        Contato pelo Site
                    </a><br>
                    E-mail: <a class="text-decoration-none text-dark">
                        email@dominio.com
                    </a><br>
                    Telefone: <a class="text-decoration-none text-dark">
                        (99) 99999-9999
                    </a>
                </div>


            </div>
        </div>
    </footer>

</div>

</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
