<button class="btn btn-danger shadow-none">
    <a href="ExibiProdutosFavoritos" title="Produtos Favoritos">
        <i class="fa-solid fa-heart" style="color: whitesmoke; font-size: 45px;"></i>
    </a>
</button>

@code {

}
