@if(Cep != null){

    <div>

        <span>Logradoura</span>
        
        <span>Bairro</span>
        
        <span>Localidade</span>

        <span>Uf</span>

        <span>Complemento</span>

        <span>IBGE: @Cep.IBGE</span>
    </div>
}
else{
    <div>
        <span>Dados ou CEP inválido</span>
    </div>
}


@code{
    [Parameter]
    public BuscaCep Cep { get; set; }
}